body {
	background-image: url('https://images.unsplash.com/photo-1515595967223-f9fa59af5a3b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7e566375b2726c8e162957886571e361&auto=format&fit=crop&w=634&q=80');
	background-repeat: no-repeat;
	font-family: Goudy Old Style;
	font-size: 22px;
	font-color: #aabc7e;
}
.table {
	color: #333926;
}
.header1 {
	color: white;
}
h1 {
	color: white;
}
.form-group {
	background-color: #aabc7e;
}